---
layout: default
make-smaller-titles: true
---


<div class="container-fluid index">
    <div class="row">

        <div class="col-md-12 main content-panel">

            <div class="gravatar">
                <img src="{{ site.title_image }}" class="img-circle about-image" height="90" width="90" alt="{{ site.title }}" />
            </div>

            <h2 class="header author-header" itemprop="headline">{{ site.title }}</h2>

            <div class="author-text">
                {{ site.title_description }}
            </div>

            {% include social_links.html %}
        </div>

        <div class="col-md-12 main content-panel">

            <div class="articles">

              <h2>Latest Notes</h2>

              <ul>
                  {% for post in site.posts limit: site.post_limit %}

                      <li>
                          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                          <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
                      </li>

                  {% endfor %}
                  <li>
                      <small><i><a href="{{ site.baseurl }}/posts/">more...</a></i></small>
                  </li>
              </ul>

            </div>
        </div>

        <div class="col-md-12 main content-panel">

            <div class="articles">

              <h2>Research Interests</h2>

              <div class="links">
I am interested in design, implementation of system-level programming languages, compilers, 
and formal verification for building reliable, certified software and hardware systems. 
A common theme is constructing correct embedded systems (i.e., control software in 
safety-critical systems, embedded system hardware designs) by applying formal 
verification including static analysis, model checking and correctness proof on the 
source code implementation, or mathematical models of these systems producing by 
model-based design toolchains, and formally certifying the correctness of the 
compilers and code generators in the model-based design toolchains.
              </div>
              
            </div>
        </div>

    </div>
</div>
